@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101922;
    --foreground: #f6f7f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}